@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 20 14.3% 4.1%;
      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5.3% 44.7%;
      --popover: 0 0% 100%;
      --popover-foreground: 20 14.3% 4.1%;
      --card: 0 0% 100%;
      --card-foreground: 20 14.3% 4.1%;
      --border: 20 5.9% 90%;
      --input: 20 5.9% 90%;
      --primary: 28.87 83.46% 50.2%;
      --primary-foreground: 60 9.1% 97.8%;
      --secondary: 60 4.8% 95.9%;
      --secondary-foreground: 24 9.8% 10%;
      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 60 9.1% 97.8%;
      --ring: 28.87 83.46% 50.2%;
      --radius: 0.5rem;
      --info:221.2 83.2% 53.3%;
      --warning: 44 88% 77%;
      --warning-foreground: 44 88% 17%;
    
      
    }

    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 60 9.1% 97.8%;
      --muted: 12 6.5% 15.1%;
      --muted-foreground: 24 5.4% 63.9%;
      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;
      --card: 20 14.3% 4.1%;
      --card-foreground: 60 9.1% 97.8%;
      --border: 12 6.5% 15.1%;
      --input: 12 6.5% 15.1%;
      --primary: 28.87 83.46% 50.2%;
      --primary-foreground: 60 9.1% 97.8%;
      --secondary: 12 6.5% 15.1%;
      --secondary-foreground: 60 9.1% 97.8%;
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 60 9.1% 97.8%;
      --destructive: 0 72.2% 50.6%;
      --destructive-foreground: 60 9.1% 97.8%;
      --ring: 28.87 83.46% 50.2%;
      --radius: 0.5rem;
      --info:217.2 91.2% 59.8%;
      --warning: 27 77% 14%;
      --warning-foreground: 27 77% 74%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose :where(h1,h2,h3,h4,h5,h6,a,blockquote,code,span,strong):not(:where([class~="custom"], [class~="custom"] *))  {
  color:hsl(var(--foreground));
 
}
.prose :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
 @apply font-bold mt-12 mb-5 text-3xl max-md:text-2xl;

}
.prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply font-bold mt-8 mb-6 text-2xl leading-7;
 
  line-height: 1.3333333;
}
.prose :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply font-semibold mt-6 mb-2 text-xl leading-7;
 
  line-height: 1.3333333;
}
.prose :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply font-medium mt-6 mb-2 text-lg leading-7;
 
  line-height: 1.3333333;
}

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply rounded-none
 
}
.prose :where(figure):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}
.article :where(.data-language)::before {
  content: "";
}
.article :where(.data-language)::after {
  content: "";
}
.not-last-margin-bottom :last-child{
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.not-last-margin-top :last-child{
 
  margin-top: 0 !important;
}
